body {
	margin: 5px;
}

img {
  vertical-align: top;
  border: thin #999 solid;
  max-height: 200px;
  max-width: 200px;
  margin: 1em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

li {
  float: left;
  position: relative;
  text-decoration: none;
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

li:hover {
  font-size: 13px;
}

li:active {
  background-color: #116666;
}

img:hover {
  max-height: 400px;
  max-width: 400px;
}

.folder-switcher {
	width: 100%;
	height: 32px;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 15px;
}

.thumbnail {
	display: inline-block;
	margin: 5px 10px 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 0;
}
